@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
	font-family: 'Lato', sans-serif !important
}
#adminmenu li, #adminmenu li a, #adminmenu a.menu-top {
	font-size: 12px !important
}
#adminmenuwrap {
	background: #BF6618 !important
}
#adminmenu {
	background: #BF6618 !important
}
#adminmenuback {
	background: #BF6618 !important
}
#wpadminbar {
	background: #BF6618 !important;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .2)
}
#wp-admin-bar-user-actions {
	background: #17135F !important;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .4)
}
.wp-submenu {
	background: #17135F !important
}
#wpcontent, #wpfooter {
	margin-left: 0
}
#wpbody {
	float: right;
	width: 87.5%;
	margin-top: 22px
}
#adminmenuwrap, #adminmenuback {
	float: left;
	width: 12.5%;
	position: absolute !important
}
#adminmenu {
	margin: 22px 0
}
.wp-submenu {
	padding: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important
}
#wpcontent {
	padding: 0
}
#wpfooter {
	background-color: rgba(255, 255, 255, .3);
	font-weight: bold;
	padding-left: 13.5%
}
a {
	color: rgba(0, 0, 0, .7) !important
}
a.page-title-action {
	color: rgba(0, 0, 0, .7) !important;
	font-weight: normal
}
#adminmenuwrap a {
	color: rgba(255, 255, 255, .7) !important
}
#adminmenuwrap .current a {
	color: rgba(245, 77, 51, 1) !important
}
#wpadminbar a {
	color: rgba(255, 255, 255, .7) !important
}
a:focus, a:hover {
	color: rgba(245, 77, 51, 1) !important
}
a.page-title-action:hover {
	color: rgba(255, 255, 255, 1) !important;
	background-color: rgba(245, 77, 51, 1) !important;
	border-color: rgba(0, 0, 0, .2) !important
}
#adminmenuwrap a:focus, #adminmenuwrap a:hover, #adminmenu li.menu-top:hover, #adminmenu li.menu-top:focus {
	color: rgba(255, 255, 255, 1) !important;
	background-color: transparent !important
}
#wpadminbar a:hover {
	color: rgba(255, 255, 255, 1) !important
}
// Cor do botão
.wp-core-ui .button-primary {
	background: #a3b745;
	border-color: #829237 #727f30 #727f30;
	-webkit-box-shadow: 0 1px 0 #727f30;
	box-shadow: 0 1px 0 #727f30;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #727f30, 1px 0 1px #727f30, 0 1px 1px #727f30, -1px 0 1px #727f30
}
#screen-options-link-wrap, #contextual-help-link-wrap {
	display: none !important
}
.wp-menu-arrow, .wp-menu-arrow *, a.current:after, a.wp-has-current-submenu:after, li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	display: none !important
}
#adminmenu div.wp-menu-name, #adminmenu .wp-submenu li a, #adminmenu li {
	padding: 0 !important;
	line-height: 24px !important;
	min-height: 24px !important;
	font-weight: bold
}
#adminmenu div.wp-menu-name, #adminmenu ul li {
	padding-left: 12px !important
}
#adminmenuwrap ul, #adminmenuwrap ul li, #adminmenuwrap ul ul, #adminmenuwrap ul ul li, .wp-submenu {
	display: block !important;
	width: 100% !important
}
#adminmenu .wp-submenu .wp-submenu-head {
	display: none !important
}
#adminmenu .wp-not-current-submenu .wp-submenu {
	left: 100%
}
#adminmenu .wp-not-current-submenu li a {
	padding: 4px 0 !important;
	line-height: 24px !important;
	min-height: 24px !important
}
a.wp-has-current-submenu .wp-menu-name {
	color: #ffffff !important
}
#adminmenu li div.wp-menu-image:before {
	color: rgba(255, 255, 255, .7)
}
#adminmenu li:hover div.wp-menu-image:before, #adminmenu li:active div.wp-menu-image:before, #adminmenu li:focus div.wp-menu-image:before {
	color: rgba(255, 255, 255, 1) !important
}
.dashicons, .dashicons-before:before {
	font-size: 15px;
	line-height: 24px !important;
	padding: 0 !important
}
#adminmenu div.wp-menu-image {
	float: right;
	width: 26px;
	height: 24px;
	padding-right: 12px
}
#wp-admin-bar-site-name {
	width: 160px;
	text-align: center;
	padding: 0;
	margin: 0
}
.js .postbox .hndle, .js .widget .widget-top {
	background-color: #BF6618;
	color: #fff
}
.js .postbox .handlediv:focus .toggle-indicator:before {
	-webkit-box-shadow: 0 0 0 1px #fff, 0 0 2px 1px #fff;
	box-shadow: 0 0 0 1px #fff, 0 0 2px 1px #fff
}
.js .meta-box-sortables .postbox .toggle-indicator:before, .js .sidebar-name .sidebar-name-arrow:before {
	color: #fff
}
#wpadminbar {
	background-color: #BF6618;
	color: #fff;
	padding: 10px 0 12px
}
#wpbody {
	padding: 8px;
	box-sizing: border-box
}
#wpbody h1 {
	margin-bottom: 8px;
	background-color: #BF6618;
	color: #fff;
	padding: 6px 15px 4px 15px
}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {
	background-color: #17135F;
	color: #fff
}
#wpcontent {
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right
}
#poststuff .stuffbox>h3, #poststuff h2, #poststuff h3.hndle {
	margin-bottom: 8px
}
.cmb_metabox .field {
	border-bottom: none !important
}
.cmb_metabox .cmb-row {
	margin: 12px 4px;
	background-color: rgba(59, 102, 153, .02);
	width: 100%;
	border-radius: 1px
}
.cmb_metabox .cmb-row:first-child {
	margin-top: 24px
}
.postbox {
	background-color: #fafafa
}
.post-php .page-title-action, #screen-options-link-wrap, #ws-pro-version-notice, #contextual-help-link-wrap {
	dissdfdsplay: none !important
}
th.manage-column, th.manage-column a {
	text-align: center !important;
	position: relative
}
th.sortable a span, th.sorted a span {
	float: none;
	margin: 0
}
td.date {
	text-align: center
}
.sorting-indicator {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto !important
}
#the-list td {
	border-right: 1px dotted rgba(0, 0, 0, .03)
}
#the-list td:last-child {
	border-right: none
}
.tcb_post_thumb {
	max-width: 222px;
	max-height: 78px;
	height: 100%;
	text-align: center
}
.tcb_post_thumb img {
	display: inline-block;
	width: auto;
	max-height: 70px;
	vertical-align: middle
}
#delete-action, span.inline {
	display: none
}
.tarefas {
	columns: 2
}
#dashboard-widgets a i {
	line-height: 30px;
	position: absolute;
	left: 0;
	width: 30px
}
#dashboard-widgets a.button {
	text-align: center;
	margin-bottom: 1em;
	display: block;
	margin: 0 auto 1em;
	width: 50%;
	position: relative;
	overflow: hidden
}
.validat {
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0
}
.validat i {
	width: 17px;
	height: 17px;
	font-size: 1.4em;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .2)
}
.validat.no {
	background-color: rgba(170, 32, 22, .2)
}
.validat.no i {
	color: rgba(200, 42, 42, 1)
}
.validat.ok {
	background-color: rgba(26, 147, 111, .2)
}
.validat.ok i {
	color: rgba(26, 147, 111, 1)
}
.confirmed_mail {
	position: relative
}
.allow_user {
	text-align: center;
	position: relative;
	padding-top: 16px !important
}
.allow_user input[checkbox] {
	background-color: red
}
#editprop {
	visibility: visible;
	opacity: 1
}
#editprop.disable {
	visibility: hidden;
	opacity: 0;
	pointer-events: none
}
#adminmenu li.wp-menu-separator {
	height: 1em;
	padding: 0;
	margin: 0;
	cursor: inherit;
	background-color: transparent
}
#collapse-menu {
	display: none !important
}

.quicktags-toolbar, .wp-editor-tools, .wp-editor-wrap, .wp-switch-editor{
	z-index: 0;
}
// #wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon *{
//     color: #eee;
// 		background-color: #BF6618;
// }
