/* **************************************************************************************************
*
*
*	STYLING EVERYTHING - Don't change it if you don't know what you're doing!
*
*
************************************************************************************************** */
/*
	HIDE ORIGINAL MENU
*/
#adminmenuwrap {
	display: none !important;
}
/*
	BOX SIZING
*/
#new_wp_menu, #new_wp_menu * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* 
	CONFIG MENU CONTAINER
*/
#adminmenuback, #new_wp_menu {
	width: 12.5%;
}

#new_wp_menu {
	position: fixed;
	z-index: 99;
	height: 100%;
	
	left: 0;
	top: 54px;
	font-weight: bold;
	font-size: .9em;
	
}

/*
	CONFIGURAÇÕES A HREF
*/
#new_wp_menu a {
	display: block;
	width: 100%;
	float: left;
	outline: none;
}

#new_wp_menu a:active, #new_wp_menu a:focus {
	outline: hidden;
	border: 0;
	box-shadow: none;
}

/*
	CONFIGURAÇÕES MENU
*/
#new_wp_menu ul {
	position: relative;
	width: 100%;
	float: left;
}

#new_wp_menu ul li {
	position: relative;
	display: block;
	width: 100%;
	float: left;
	padding: 0 12px;
	cursor: pointer;
}

/*
	CONFIGURAÇÕES SUBMENU
*/
#new_wp_menu ul li ul {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	padding: 8px 0;
	width: 100%;
	left: 100%;
	top:-8px;
	transition: all .1s ease-in;
}

#new_wp_menu ul li:hover ul {
	visibility: visible;
	opacity: 1;
}



/*
	CONFIG TEXTO
*/
#new_wp_menu ul li span {
	float: left;
	line-height: 22px;
}

/*
	CONFIG ICONE
*/
#new_wp_menu i {
	float: right;
	line-height: 22px;
}

/* **************************************************************************************************
*
*
*	STYLING EVERYTHING - Change here the colors and whatever!
*
*
************************************************************************************************** */

/*
	COR DO TEXTO
*/
#new_wp_menu ul li span, #new_wp_menu ul li:hover ul li span, #new_wp_menu ul li.active ul li span {
	color: rgba(255,255,255,.8);
}

/*
	COR DO ICONE
*/
#new_wp_menu ul li i, #new_wp_menu ul li:hover ul li i, #new_wp_menu ul li.active ul li i {
	color: rgba(255,255,255,.6);
}

/*
	COR DO TEXTO HOVER
*/
#new_wp_menu ul li:hover span, #new_wp_menu ul li ul li:hover span {
	color: #fff;
}

/*
	COR DO ICONE HOVER
*/
#new_wp_menu ul li:hover i, #new_wp_menu ul li ul li:hover i {
	color: #fff;
}

/*
	COR DO TEXTO ATIVO
*/
#new_wp_menu ul li.active span, #new_wp_menu ul li.active ul li.active span, #new_wp_menu ul li.active ul li.active span ul li.active span {
	color: rgba(21,102,35,1);
	color: #ACF39D;
}

/*
	COR DO ICONE ATIVO
*/
#new_wp_menu ul li.active i, #new_wp_menu ul li.active ul li.active i, #new_wp_menu ul li.active ul li.active i ul li.active i {
	color: #fff;
}

/*
	ESTILO BACKGROUND MENU
*/
#adminmenuback, #new_wp_menu {
	background-color: rgba(191, 102, 24,1);
	box-shadow: -8px 0 4px -4px rgba(0,0,0,.3);
	
}
/*
	ESTILO MENU
*/
#new_wp_menu ul {

}

/*
	ESTILO ITENS MENU
*/
#new_wp_menu ul li {

}

/*
	ESTILO SUBMENU
*/
#new_wp_menu ul ul {
	background-color: rgba(245, 130, 32,.9);
	// box-shadow: inset 264px 0 132px -132px rgba(35,40,45,1);
}

/*
	ESTILO ITENS SUBMENU
*/
#new_wp_menu ul ul li {

}

/*
	ESTILO ITENS DIVIDER
*/
#new_wp_menu ul li hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*
	ESTILO DO BOTÃO
*/
.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active :hover{
	background-color: #fff;
}