@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,700italic,400italic);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body,
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  outline: 0;
  background: transparent;
  font-style: normal; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul,
.nav ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9; }

mark {
  font-style: italic;
  font-weight: bold;
  color: #000;
  background-color: #ff9; }

del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc; }

input,
select {
  vertical-align: middle; }

a {
  text-decoration: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

a:hover {
  cursor: pointer; }

a:active {
  outline: 0 !important;
  -webkit-tap-highlight-color: transparent; }

img {
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body {
  font-size: 62.5%;
  overflow-x: hidden; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 71.250rem;
  padding-left: 15px;
  padding-right: 15px; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

.container.collapse > .column,
.container.collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.container.collapse .container {
  margin-left: 0;
  margin-right: 0; }

.container .container {
  width: auto;
  margin-left: -0.9375rem;
  margin-right: -0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none; }

.container .container:before, .container .container:after {
  content: " ";
  display: table; }

.container .container:after {
  clear: both; }

.container .container.collapse {
  width: auto;
  margin: 0;
  max-width: none; }

.container .container.collapse:before, .container .container.collapse:after {
  content: " ";
  display: table; }

.container .container.collapse:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

/***********************************************************************************************/
/***********************************************************************************************/
nav,
nav ul,
nav ul li,
nav ul li:hover,
nav ul li a {
  color: #000;
  background: transparent;
  width: initial;
  height: initial;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-style: normal;
  line-height: initial;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  float: none; }

nav ul li a:hover {
  background-color: transparent; }

nav i {
  height: auto; }

nav .container {
  overflow: initial; }

/***********************************************************************************************/
/***********************************************************************************************/
.nicescroll-rails {
  z-index: 99999 !important;
  width: 9px !important;
  -webkit-box-shadow: inset 3px 0 3px -3px rgba(0, 0, 0, 0.1) !important;
          box-shadow: inset 3px 0 3px -3px rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(0, 0, 0, 0.1) !important; }

.nicescroll-cursors {
  background-color: blue !important;
  border-radius: 3px !important;
  width: 8px !important;
  border: 1px solid white !important; }

.nicescroll-cursors:active {
  background-color: blue !important;
  cursor: n-resize; }

body {
  font-family: 'Open Sans', sans-serif; }

textarea, input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  color: #000;
  border: inherit;
  outline: none;
  height: inherit;
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in; }

textarea, input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-color: inherit;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

select.browser-default {
  background-color: transparent;
  color: #000;
  border: none;
  outline: none;
  height: inherit;
  width: 100%;
  font-size: inherit;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input[type=button], input[type=submit], button {
  display: block; }

[type="checkbox"]:not(:checked), [type="checkbox"]:checked, [type="radio"]:not(:checked), [type="radio"]:checked {
  visibility: visible;
  position: inherit;
  left: inherit;
  outline: none; }

input[type=file] {
  width: 100%;
  display: block; }

#menuButton {
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  margin: auto auto;
  display: block;
  position: fixed;
  float: right;
  z-index: 9999; }
  #menuButton::before, #menuButton::after,
  #menuButton .in {
    content: '';
    width: 68%;
    position: absolute;
    height: 4px;
    background-color: #fff;
    top: 25%;
    left: 16%; }
  #menuButton::after {
    margin-top: -2px;
    top: 74%; }
  #menuButton::before, #menuButton::after {
    -webkit-transition: top 0.2s linear 0.4s, margin-top 0s linear 0.6s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0s;
    transition: top 0.2s linear 0.4s, margin-top 0s linear 0.6s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0s;
    transition: top 0.2s linear 0.4s, transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0s, margin-top 0s linear 0.6s;
    transition: top 0.2s linear 0.4s, transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0s, margin-top 0s linear 0.6s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0s; }
  #menuButton .in {
    margin-top: -1px;
    top: 50%;
    -webkit-transition: opacity 0s linear .3s;
    transition: opacity 0s linear .3s; }

#menuButton.active {
  width: 50px;
  height: 50px; }
  #menuButton.active::before, #menuButton.active::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -1px;
    top: 50%;
    -webkit-box-shadow: 0 0 2px 0 transparent;
            box-shadow: 0 0 2px 0 transparent;
    -webkit-transition: top 0.2s linear 0s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0.2s;
    transition: top 0.2s linear 0s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0.2s;
    transition: top 0.2s linear 0s, transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0.2s;
    transition: top 0.2s linear 0s, transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0.2s, -webkit-transform 0.5s cubic-bezier(0.78, 0.13, 0.33, 0.96) 0.2s; }
  #menuButton.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  #menuButton.active .in {
    opacity: 0;
    -webkit-transition: opacity 0s linear .2s;
    transition: opacity 0s linear .2s; }

/* Menu
*********************************************************************************************** */
/***********************************************************************************************/
/***********************************************************************************************/
nav,
nav ul,
nav ul li,
nav ul li:hover,
nav ul li a {
  color: #000;
  background: transparent;
  width: initial;
  height: initial;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-style: normal;
  line-height: initial;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  float: none; }

nav ul li a:hover {
  background-color: transparent; }

nav i {
  height: auto; }

nav .container {
  overflow: initial; }

@media only screen and (min-width: 991px) {
  /***********************************************************************************************/
  /***********************************************************************************************/
  #menuButton {
    display: none; }
  nav {
    width: 100%;
    position: fixed;
    top: 20px;
    z-index: 9999;
    top: 0;
    height: 138px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    nav .row {
      height: 128px;
      -webkit-transition: all .1s ease-in 0;
      transition: all .1s ease-in 0; }
    nav .container {
      position: relative;
      height: 128px;
      -webkit-transition: all .1s ease-in 0;
      transition: all .1s ease-in 0; }
    nav .menu {
      position: absolute;
      right: 0;
      height: 22px;
      top: 64px;
      line-height: 22px;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in; }
      nav .menu ul li {
        display: inline;
        font-size: 1rem;
        color: #ffffff; }
        nav .menu ul li a {
          display: inline;
          font-size: .9rem;
          color: #ffffff;
          padding: 0 10px; }
    nav .logo {
      background-image: url(images/vihabile.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      height: 128px;
      width: 264px;
      top: 10px;
      color: transparent;
      cursor: pointer;
      opacity: 1;
      visibility: visible;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in; }
    nav .logocolor {
      background-image: url(images/vihabile-menu.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      height: 62px;
      width: 258px;
      top: 10px;
      color: transparent;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in; }
  nav.scroll, #page nav {
    top: 0;
    left: 0;
    display: block;
    right: -40px;
    width: 100%;
    background-color: white;
    color: #ffffff;
    height: 72px;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in; }
    nav.scroll .row, #page nav .row {
      margin-bottom: 0;
      height: 72px; }
    nav.scroll .container, #page nav .container {
      height: 72px; }
    nav.scroll .menu, #page nav .menu {
      top: 26px; }
    nav.scroll .menu a, #page nav .menu a {
      color: #000; }
    nav.scroll .menu ul li, #page nav .menu ul li {
      color: #000; }
    nav.scroll .logo, #page nav .logo {
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s ease-in;
      transition: all .3s ease-in; }
    nav.scroll .logocolor, #page nav .logocolor {
      top: 0px;
      height: 72px;
      width: 176px;
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity .3s ease-in, width .3s ease-in .2s, height .3s ease-in .2s, top .3s ease-in .2s;
      transition: opacity .3s ease-in, width .3s ease-in .2s, height .3s ease-in .2s, top .3s ease-in .2s; }
  /***********************************************************************************************/
  /***********************************************************************************************/
  #clientes a {
    outline: none; }
    #clientes a:focus, #clientes a:active {
      outline: none; }
  #clientes .logo {
    width: 230px;
    height: 230px;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    position: relative;
    border: 1px solid #c5c5c5;
    margin: auto;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in; }
    #clientes .logo span {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: -40px;
      width: 100%;
      background-color: #156623;
      color: #ffffff;
      padding: 5px;
      text-align: center;
      font-size: 1.3em; }
    #clientes .logo:hover {
      border: 1px solid #156623;
      -webkit-filter: grayscale(0);
              filter: grayscale(0); }
      #clientes .logo:hover span {
        display: block; }
  /***********************************************************************************************/
  /****** SECTION HOME
    /***********************************************************************************************/
  #home section {
    padding-top: 100px; }
  #home h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #f58220;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 2em; }
    #home h2::before {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 50%;
      height: 1px;
      width: 4000px;
      background-color: #f58220; }
    #home h2::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      height: 1px;
      width: 4000px;
      background-color: #156623; }
  #home section#inicio {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0; }
    #home section#inicio .arquitetura, #home section#inicio .viabilidade {
      border: 30px solid transparent;
      border-top: 0;
      border-bottom: 0;
      margin-top: -40px;
      position: relative;
      z-index: 10; }
      #home section#inicio .arquitetura h3, #home section#inicio .viabilidade h3 {
        margin-top: -52px;
        margin-bottom: 60px;
        font-size: 1.25rem;
        position: relative;
        z-index: 1;
        color: #ffffff;
        text-transform: uppercase; }
    #home section#inicio .arquitetura {
      color: #f58220;
      -webkit-box-shadow: inset 0 0 0 1px #f58220;
              box-shadow: inset 0 0 0 1px #f58220;
      padding: 60px 40px; }
      #home section#inicio .arquitetura span {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        right: 0px;
        width: 100%;
        background-color: #f58220;
        color: #ffffff;
        padding: 5px;
        display: none; }
      #home section#inicio .arquitetura:hover span {
        display: block; }
      #home section#inicio .arquitetura::before {
        content: '';
        position: absolute;
        top: 0px;
        right: -30px;
        height: 40px;
        width: 4000px;
        background-color: rgba(245, 130, 32, 0.8); }
    #home section#inicio .viabilidade {
      color: #156623;
      -webkit-box-shadow: inset 0 0 0 1px #156623;
              box-shadow: inset 0 0 0 1px #156623;
      padding: 60px 40px; }
      #home section#inicio .viabilidade span {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        right: 0px;
        width: 100%;
        background-color: #156623;
        color: #ffffff;
        padding: 5px;
        display: none; }
      #home section#inicio .viabilidade:hover span {
        display: block; }
      #home section#inicio .viabilidade::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -30px;
        height: 40px;
        width: 4000px;
        background-color: rgba(21, 102, 35, 0.8); } }

/***********************************************************************************************/
/***********************************************************************************************/
#depoimentos {
  margin-bottom: 100px; }
  #depoimentos h3 {
    font-size: 2em;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #ffffff;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    margin-top: -30px; }
  #depoimentos .box-laranja, #depoimentos .box-verde {
    border: 15px solid transparent;
    /* height: 320px; */
    position: relative;
    text-align: center; }
    #depoimentos .box-laranja .img, #depoimentos .box-verde .img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 172px;
      width: 100%; }
    #depoimentos .box-laranja p, #depoimentos .box-verde p {
      padding: 30px 22px;
      font-size: 1.2em;
      line-height: 1.5em;
      height: 152px;
      overflow: hidden; }
  #depoimentos .box-laranja {
    border: 1px solid #f58220;
    color: #f58220; }
    #depoimentos .box-laranja h3 {
      background-color: rgba(245, 130, 32, 0.6); }
  #depoimentos .box-verde {
    border: 1px solid #156623;
    color: #156623; }
    #depoimentos .box-verde h3 {
      background-color: rgba(21, 102, 35, 0.6); }

/***********************************************************************************************/
/***********************************************************************************************/
.footer {
  background-image: url(images/rodape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-size: 1.2em;
  -webkit-filter: saturate(0.5) contrast(2);
          filter: saturate(0.5) contrast(2); }
  .footer .container {
    position: relative; }
  .footer::before {
    content: '';
    position: absolute;
    top: 0px;
    right: -webkit-calc( -50% + 201px);
    right: calc( -50% + 201px);
    height: 100%;
    width: 100%;
    background-color: rgba(21, 102, 35, 0.8); }
  .footer::after {
    content: '';
    position: absolute;
    top: 0px;
    left: -webkit-calc( -50% - 199px);
    left: calc( -50% - 199px);
    height: 100%;
    width: 100%;
    background-color: rgba(191, 102, 24, 0.8);
    z-index: 0; }
  .footer .img-logo {
    display: block;
    margin-top: 80px;
    background-image: url(images/vihabile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: relative;
    left: -550px;
    height: 150px;
    z-index: 2; }
    .footer .img-logo p {
      text-align: center;
      padding-top: 270px; }
  .footer .endereco {
    display: block;
    position: relative;
    height: 55px;
    top: 115px;
    bottom: 0;
    margin: auto;
    font-size: 1.2em; }
    .footer .endereco p {
      font-weight: 100;
      line-height: 1.2em; }
    .footer .endereco h4 {
      position: relative;
      text-transform: uppercase;
      font-size: 1.1em;
      top: -20px;
      font-weight: normal; }
    .footer .endereco span {
      position: relative;
      top: 30px;
      font-size: 1.6em; }
      .footer .endereco span sm {
        font-size: .7em; }
  .footer .contato {
    display: block;
    position: relative;
    height: 55px;
    top: 115px;
    bottom: 0;
    margin: auto;
    font-size: 1.1em;
    text-align: center; }
    .footer .contato h4 {
      position: relative;
      text-transform: uppercase;
      font-size: 1.2em;
      top: -20px; }
    .footer .contato ul li {
      display: inline-block;
      font-size: 1.6em;
      line-height: 52px;
      margin: 0 10px;
      position: relative; }
      .footer .contato ul li a {
        width: 60px;
        height: 60px;
        color: #ffffff;
        border: 3px solid;
        display: block; }
      .footer .contato ul li i {
        padding-top: 10px; }
        .footer .contato ul li i .fa-facebook {
          padding-top: 150px; }
    .footer .contato p {
      text-align: center;
      padding-top: 153px; }
  .footer .copy {
    position: absolute;
    padding-top: 100px;
    width: 100%;
    z-index: 2; }
    .footer .copy .copyright {
      float: left; }
    .footer .copy .virtude {
      float: right; }
      .footer .copy .virtude img {
        width: 70px; }

/***********************************************************************************************/
/***********************************************************************************************/
/***********************************************************************************************/
/***********************************************************************************************/
/* .slides li img{
	background-color: $verde;
	background-blend-mode: multiply;
}
 */
@media only screen and (max-width: 990px) {
  /***********************************************************************************************/
  /***********************************************************************************************/
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 0;
    z-index: 999; }
    nav .menu {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 80px;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: all 0.8s cubic-bezier(0.78, 0.13, 0.33, 0.96);
      transition: all 0.8s cubic-bezier(0.78, 0.13, 0.33, 0.96);
      background-color: rgba(0, 0, 0, 0.8); }
      nav .menu.active {
        display: block;
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0); }
      nav .menu ul li {
        display: list-item;
        font-size: 2.5em;
        color: transparent;
        text-align: center;
        position: relative;
        left: 0;
        padding-top: 25px; }
        nav .menu ul li a {
          display: list-item;
          display: inline;
          font-size: 1em;
          color: #ffffff;
          padding: 0 10px; }
    nav .logo {
      display: none; }
    nav.scroll #menuButton {
      background-color: #fff; }
      nav.scroll #menuButton::before, nav.scroll #menuButton::after,
      nav.scroll #menuButton .in {
        background-color: #000; }
      nav.scroll #menuButton.active {
        background-color: transparent; }
        nav.scroll #menuButton.active::before, nav.scroll #menuButton.active::after,
        nav.scroll #menuButton.active .in {
          background-color: #fff; }
  /***********************************************************************************************/
  /****** SECTION HOME
    /***********************************************************************************************/
  #home section {
    padding-top: 100px; }
  #home h2 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    color: #f58220;
    padding-bottom: 30px; }
    #home h2::before {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 50%;
      height: 1px;
      width: 4000px;
      background-color: #f58220; }
    #home h2::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      height: 1px;
      width: 4000px;
      background-color: #156623; }
  #home section#inicio {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-top: 0; }
    #home section#inicio .arquitetura, #home section#inicio .viabilidade {
      margin-top: 0;
      position: relative;
      z-index: 10; }
      #home section#inicio .arquitetura h3, #home section#inicio .viabilidade h3 {
        font-size: 1.5rem;
        text-align: center;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 2em; }
        #home section#inicio .arquitetura h3::before, #home section#inicio .viabilidade h3::before {
          content: '';
          position: absolute;
          bottom: 0px;
          right: 50%;
          height: 1px;
          width: 4000px;
          background-color: #f58220; }
        #home section#inicio .arquitetura h3::after, #home section#inicio .viabilidade h3::after {
          content: '';
          position: absolute;
          bottom: 0px;
          left: 50%;
          height: 1px;
          width: 4000px;
          background-color: #156623; }
    #home section#inicio .arquitetura {
      color: #f58220;
      padding: 40px 40px; }
      #home section#inicio .arquitetura h2 {
        color: #f58220; }
      #home section#inicio .arquitetura span {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        right: -40px;
        width: 100%;
        background-color: #f58220;
        color: #ffffff;
        padding: 5px; }
      #home section#inicio .arquitetura:hover span {
        display: block; }
    #home section#inicio .viabilidade {
      color: #156623;
      padding: 40px 40px; }
      #home section#inicio .viabilidade h2 {
        color: #156623; }
      #home section#inicio .viabilidade span {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        right: -40px;
        width: 100%;
        background-color: #156623;
        color: #ffffff;
        padding: 5px; }
      #home section#inicio .viabilidade:hover span {
        display: block; }
  /***********************************************************************************************/
  /***********************************************************************************************/
  #depoimentos {
    margin-bottom: 100px; }
    #depoimentos h3 {
      font-size: 2em;
      text-align: center;
      position: relative;
      z-index: 1;
      color: #ffffff;
      height: 30px;
      width: 100%;
      padding-top: 5px;
      margin-top: -30px; }
    #depoimentos .box-laranja, #depoimentos .box-verde {
      border: 15px solid transparent;
      position: relative;
      text-align: center; }
      #depoimentos .box-laranja .img, #depoimentos .box-verde .img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 200px;
        width: 100%; }
      #depoimentos .box-laranja p, #depoimentos .box-verde p {
        padding: 30px 20px;
        font-size: 1.8em;
        line-height: 1.5em; }
    #depoimentos .box-laranja {
      border: 1px solid #f58220;
      color: #f58220; }
      #depoimentos .box-laranja h3 {
        background-color: rgba(245, 130, 32, 0.6); }
    #depoimentos .box-verde {
      border: 1px solid #156623;
      color: #156623; }
      #depoimentos .box-verde h3 {
        background-color: rgba(21, 102, 35, 0.6); }
    #depoimentos .box {
      padding-top: 50px; }
  /***********************************************************************************************/
  /***********************************************************************************************/
  .footer {
    position: relative;
    height: 850px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; }
    .footer::before {
      right: 0; }
    .footer::after {
      display: none; }
    .footer .endereco {
      text-align: center; }
      .footer .endereco span {
        position: relative;
        top: 10px; }
    .footer .contato {
      display: block;
      margin-top: 170px; }
    .footer .copy {
      position: absolute;
      margin-top: 100px;
      width: 100%; } }

/***********************************************************************************************/
/***********************************************************************************************/
#clientes .logo {
  width: 230px;
  height: 230px; }
  #clientes .logo span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -40px;
    width: 100%;
    background-color: #156623;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 1.3em; }
  #clientes .logo:hover {
    border: 1px solid #156623; }
    #clientes .logo:hover span {
      display: block; }

@media (max-width: 660px) {
  .footer {
    text-align: center;
    line-height: 1.7; }
    .footer .container .copyright, .footer .container .virtude {
      float: none; } }

.slick-arrow {
  position: absolute;
  height: 100%;
  top: 0;
  width: 42px;
  text-align: center;
  z-index: 2; }
  .slick-arrow i {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0;
    margin: auto; }
    .slick-arrow i::before, .slick-arrow i::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 10px;
      background-color: #b7b7b7;
      -webkit-box-shadow: 0 0 2px 0 rgba(183, 183, 183, 0.4);
              box-shadow: 0 0 2px 0 rgba(183, 183, 183, 0.4);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    .slick-arrow i::before {
      -webkit-transform: rotate(25deg);
          -ms-transform: rotate(25deg);
              transform: rotate(25deg); }
    .slick-arrow i::after {
      -webkit-transform: rotate(-25deg);
          -ms-transform: rotate(-25deg);
              transform: rotate(-25deg); }
  .slick-arrow:active i::before, .slick-arrow:active i::after {
    background-color: #f58220; }

.slick-next {
  right: 0; }
  .slick-next i::before {
    top: 9px; }
  .slick-next i::after {
    top: -9px; }

.slick-prev {
  left: 0; }
  .slick-prev i::before {
    top: -9px; }
  .slick-prev i::after {
    top: 9px; }

/***********************************************************************************************/
/***********************************************************************************************/
#page main {
  min-height: 100px; }

#page header {
  height: 404px;
  position: relative;
  background-position: center;
  z-index: 1; }
  #page header::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1; }

#page .title {
  z-index: 2;
  position: relative; }
  #page .title h2 {
    margin-top: -44px;
    margin-bottom: 60px;
    font-size: 1.25rem;
    position: relative;
    z-index: 1;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(245, 130, 32, 0.8);
    width: 100%;
    line-height: 44px;
    text-align: center; }
    #page .title h2.verde {
      background-color: rgba(21, 102, 35, 0.8); }
    #page .title h2.contato {
      font-size: 1.6em; }
    #page .title h2 .category {
      font-size: .7em;
      font-style: italic;
      padding-left: 16px; }

#page #clientes .cliente {
  max-width: 260px;
  width: 100%;
  padding-bottom: 100%;
  border: 1px solid rgba(21, 102, 35, 0.2);
  display: block;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  margin-bottom: 22px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in; }
  #page #clientes .cliente:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    border: 1px solid #156623; }

.loadmore {
  background-color: #f58220;
  color: #fff;
  text-transform: uppercase;
  padding: 8px 36px;
  font-size: 1.1em; }
  .loadmore:active {
    background-color: #156623; }

#mapa {
  position: absolute;
  width: 100%;
  height: 100%; }

#contato .col {
  padding-left: 0; }

#contato h3 {
  color: #156623;
  font-size: 1.6em;
  text-transform: uppercase;
  margin-bottom: 8px; }
  @media (max-width: 599px) {
    #contato h3 {
      text-align: center; } }

#contato ul li {
  height: 62px;
  margin-bottom: 12px; }

#contato i {
  width: 62px;
  height: 62px;
  margin-right: 12px;
  font-size: 2.5em;
  text-align: center;
  border: 1px solid #c5c5c5;
  color: #c5c5c5;
  display: block;
  float: left;
  line-height: 62px; }

#contato span {
  font-size: 1.3em;
  line-height: 62px;
  color: #c5c5c5; }

#contato a:hover * {
  color: #156623;
  border-color: #156623; }

#quem .textos {
  margin-top: 60px; }
  @media (max-width: 990px) {
    #quem .textos {
      margin-top: 0; } }

#quem .mocas {
  text-align: center;
  position: relative; }
  #quem .mocas span {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    background-color: #fff; }
  #quem .mocas .licia {
    color: #f58220;
    left: 0;
    padding-right: 8px; }
  #quem .mocas .iara {
    color: #156623;
    right: 0;
    padding-left: 8px; }

#quem p {
  font-size: 1.3em;
  line-height: 1.9em;
  margin-bottom: 1.8em;
  text-align: justify; }

#quem b {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #f58220; }
  #quem b.verde {
    color: #156623; }

#quem .row {
  margin-bottom: 0; }

#servicos #type .tabs {
  background-color: transparent;
  font-size: 1.25rem; }
  #servicos #type .tabs a {
    position: relative;
    display: block;
    z-index: 1;
    overflow: hidden;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: bold; }
    #servicos #type .tabs a.arq {
      color: #f58220; }
    #servicos #type .tabs a.via {
      color: #156623; }
    #servicos #type .tabs a::before, #servicos #type .tabs a::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: -1;
      -webkit-transition: all .4s linear;
      transition: all .4s linear; }
    #servicos #type .tabs a.arq::before {
      background-color: rgba(255, 255, 255, 0.6);
      left: 0; }
    #servicos #type .tabs a.via::before {
      background-color: rgba(255, 255, 255, 0.6);
      left: 0; }
    #servicos #type .tabs a.arq::after {
      background-color: rgba(245, 130, 32, 0.8);
      left: 100%; }
    #servicos #type .tabs a.via::after {
      background-color: rgba(21, 102, 35, 0.8);
      left: -100%; }
    #servicos #type .tabs a.active {
      color: #fff; }
      #servicos #type .tabs a.active.arq::before {
        left: -100%; }
      #servicos #type .tabs a.active.via::before {
        left: 100%; }
      #servicos #type .tabs a.active.arq::after {
        left: 0%; }
      #servicos #type .tabs a.active.via::after {
        left: 0%; }

#servicos .indicator {
  display: none; }

#servicos .title {
  margin-top: -48px; }
  #servicos .title #type, #servicos .title #type .col {
    padding-left: 0;
    padding-right: 0; }

#servicos #texts {
  padding: 3em 0; }
  #servicos #texts .tabs {
    display: block;
    height: auto;
    min-height: 300px; }
    #servicos #texts .tabs li {
      text-align: left;
      height: auto;
      line-height: 1.5em;
      margin-bottom: 2em; }
    #servicos #texts .tabs a {
      color: #c5c5c5;
      text-transform: uppercase;
      padding-left: 8px;
      font-size: 1.4em; }
      #servicos #texts .tabs a::before {
        content: '\f111';
        margin-right: 8px;
        font-family: 'FontAwesome';
        font-size: .4em;
        float: left; }
  #servicos #texts .description {
    border-left: 1px solid #c5c5c5;
    min-height: 300px;
    padding-left: 3em;
    font-size: 1.2em;
    color: #868686; }
    #servicos #texts .description p {
      line-height: 1.5em;
      margin-bottom: 1em; }
    #servicos #texts .description h3 {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: bold;
      margin-bottom: 1em; }
  #servicos #texts #arquitetura a.active, #servicos #texts #arquitetura h3 {
    color: #f58220;
    padding-left: 0; }
  #servicos #texts #viabilidade a.active, #servicos #texts #viabilidade h3 {
    color: #156623;
    padding-left: 0; }

#portfolio .botoes {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding-bottom: 16px;
  margin-bottom: 2em;
  border-bottom: 1px solid #c5c5c5; }
  #portfolio .botoes a {
    display: table-cell;
    text-align: center;
    color: #c5c5c5;
    font-size: 1.3em;
    text-transform: uppercase; }
    #portfolio .botoes a span {
      border: 1px solid #c5c5c5;
      padding: 8px 0;
      width: 90%;
      display: block;
      margin: auto; }
    #portfolio .botoes a.active span {
      background-color: #f58220;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #fff; }

#portfolio .port {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 80%;
  border: 1px solid #c8c8c8;
  display: block;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 22px;
  position: relative;
  z-index: 1; }
  #portfolio .port::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; }
  #portfolio .port:hover::before {
    visibility: hidden;
    opacity: 0; }

#portfolio .caption {
  position: absolute;
  width: 200px;
  text-align: center;
  bottom: 12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 0;
  font-size: 1.3em;
  text-transform: uppercase; }

/***********************************************************************************************/
/***********************************************************************************************/
input[type=text], input[type=email], input[type=tel], input[type=button], input[type=submit], input[type=file], select, select.browser-default, button, label, textarea {
  margin-bottom: 13px;
  color: #c5c5c5;
  font-size: 1.1em; }

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]), textarea:focus {
  border: 1px solid #156623;
  -webkit-box-shadow: inset 2px 0 0 0 #156623;
          box-shadow: inset 2px 0 0 0 #156623; }

input[type=text] ,input[type=tel], input[type=email], select, select.browser-default, textarea {
  border: 1px solid #c5c5c5;
  background-color: #fff;
  padding: 8px 12px;
  color: #156623;
  border-radius: 0; }

#noticias .thumb, #noticia .thumb {
  height: 190px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative; }

#noticias .post-body, #noticia .post-body {
  border-width: 1px;
  border-style: solid;
  margin-bottom: 22px; }

#noticias .text, #noticia .text {
  padding: 24px 32px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.4em; }

#noticias h3, #noticia h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 1em; }

#noticias a, #noticia a {
  color: #000; }

#noticias .overlay, #noticia .overlay {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 12px 16px;
  font-size: 1.2em; }
  #noticias .overlay date, #noticia .overlay date {
    display: inline; }
  #noticias .overlay div, #noticia .overlay div {
    display: inline; }

@media (max-width: 599px) {
  #noticias a.leia-mais, #noticia a.leia-mais {
    display: block;
    text-align: center;
    padding: 8px 22px;
    margin-top: 1em;
    font-weight: bold; } }

#noticias .post:nth-of-type(odd) .post-body, #noticia .post:nth-of-type(odd) .post-body {
  border-color: #f58220; }

#noticias .post:nth-of-type(odd) h3, #noticia .post:nth-of-type(odd) h3 {
  color: #f58220; }

#noticias .post:nth-of-type(odd) .overlay, #noticia .post:nth-of-type(odd) .overlay {
  background-color: rgba(245, 130, 32, 0.8); }

#noticias .post:nth-of-type(odd) a.leia-mais, #noticia .post:nth-of-type(odd) a.leia-mais {
  border: 1px solid #f58220;
  color: #f58220; }
  #noticias .post:nth-of-type(odd) a.leia-mais:hover, #noticia .post:nth-of-type(odd) a.leia-mais:hover {
    background-color: #f58220;
    color: #fff; }

#noticias .post:nth-of-type(even) .post-body, #noticia .post:nth-of-type(even) .post-body {
  border-color: #156623; }

#noticias .post:nth-of-type(even) h3, #noticia .post:nth-of-type(even) h3 {
  color: #156623; }

#noticias .post:nth-of-type(even) .overlay, #noticia .post:nth-of-type(even) .overlay {
  background-color: rgba(21, 102, 35, 0.8); }

#noticias .post:nth-of-type(even) a.leia-mais, #noticia .post:nth-of-type(even) a.leia-mais {
  border: 1px solid #156623;
  color: #156623; }
  #noticias .post:nth-of-type(even) a.leia-mais:hover, #noticia .post:nth-of-type(even) a.leia-mais:hover {
    background-color: #156623;
    color: #fff; }

#noticias aside, #noticia aside {
  border-left: 1px solid #c5c5c5; }
  @media (max-width: 599px) {
    #noticias aside, #noticia aside {
      border-left: 0;
      border-top: 1px solid #c5c5c5;
      padding-top: 1em; } }
  #noticias aside span, #noticia aside span {
    text-transform: uppercase;
    margin-bottom: 8px;
    display: block;
    font-size: 1.4em;
    color: #156623;
    font-weight: bold; }
    @media (max-width: 599px) {
      #noticias aside span, #noticia aside span {
        width: 100%;
        text-align: center; } }
  #noticias aside ul.list, #noticia aside ul.list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-fill: balance;
       -moz-column-fill: balance;
            column-fill: balance; }
    #noticias aside ul.list li, #noticia aside ul.list li {
      border: 1px solid #868686;
      text-align: center;
      padding: 6px 4px;
      display: block;
      margin-bottom: 8px; }

#noticias .text p {
  height: 73px;
  overflow: hidden; }

@media (min-width: 600px) {
  #noticias .post-body {
    height: 376px; }
  #noticias h3 {
    max-height: 48px; } }

@media (max-width: 599px) {
  #noticias .post-body, #noticias .text p, #noticias h3 {
    height: initial; } }

#noticia .post-body {
  border: none; }

#noticia .thumb {
  margin-bottom: 2em;
  height: 320px; }

#noticia h3 {
  margin-bottom: 2em; }

#noticia .text {
  font-size: 1.2em;
  line-height: 1.4em; }

#noticia p {
  margin-bottom: 1em; }

#noticia ul.posts li {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #c5c5c5;
  font-size: 1.1em; }
  #noticia ul.posts li:last-child {
    border-bottom: none; }
  #noticia ul.posts li:hover a {
    color: #f58220; }

#port .desc {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-bottom: 2em; }

#carrousel-small .slide {
  height: 140px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.93);
      -ms-transform: scale(0.93);
          transform: scale(0.93);
  position: relative;
  z-index: 1; }
  #carrousel-small .slide::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; }
  #carrousel-small .slide.slick-current {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1); }
    #carrousel-small .slide.slick-current::before {
      background-color: transparent; }

#carrousel-big {
  margin-bottom: 2em; }
  #carrousel-big .slide {
    background-size: contain;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; }
  #carrousel-big .caption {
    color: #fff;
    padding: 8px 32px;
    font-size: 1.1em;
    line-height: 1.4em;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 0 #000;
    position: absolute;
    bottom: 0; }
    @media (max-width: 599px) {
      #carrousel-big .caption {
        padding: 8px 32px 18px; } }


.paginacao *{ /* DIV que conterá a páginação*/
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1rem;

 }

 .paginacao{
    text-align: center;
 }
.page-numbers{ /* Número das páginas*/
    background-color: #156623;
    color: #FFF !important;
    padding: 10px;
}
.page-numbers.current{ /* estilização do número da página em que se encontra no momento*/
    background-color: #f58220;
    color: #FFF !important;
}
.prev.page-numbers{ /* Botão Anterior*/
    background-color: #0E4718;
    color: #FFF !important;
}
.next.page-numbers{ /* Botão Próximo*/
    background-color: #0E4718;

    color: #FFF !important;
}